body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 25% 1fr 25% 1fr;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 50px;
    overflow: hidden;
    background-color: #0C0032;
}
  #menu_checkbox {
    display: none;
  }

  label {
    position: fixed;
    z-index: 2;
    top: 2.7rem;
    right: 0;
    left: 93%;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  label div {
    position: relative;
    top: 0;
    height: 12px;
    background-color: #ffffff;
    margin-bottom: 12px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 2px;
  }
  
  label div:first-child {
    transform-origin: 0;
  }
  
  label div:last-child {
    margin-bottom: 0;
    transform-origin: 60px;
  }
  
  label div:nth-child(2) {
    right: 0;
    width: 60px;
  }
  
  #menu_checkbox:checked + label:before {
    background-color: #ffffff;
  }
  
  #menu_checkbox:checked + label div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
  }
  
  #menu_checkbox:checked + label div:last-child {
    top: 6px;
    transform: rotateZ(45deg);
  }
  
  #menu_checkbox:checked + label div:nth-child(2) {
    width: 85px;
    top: 0;
    right: 13px;
    transform: rotateZ(-45deg);
  }

  nav {
    z-index: 1;
    height: 100%;
    background-color: #190061;
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    transform: translateX(420px);
    transition: all .25s ease-in-out;
}

#menu_checkbox:checked + label + nav {
    transform: translateX(0);
}
nav h1 {
    Font-size: 6.25rem;
    margin: 0;
    padding-left: 1rem;
    margin-bottom: 10.75rem;
    margin-top: 1rem;
    color: #ffffff;
}

.boxi {
    background-color: #3500D3;
    height: 4rem;
    text-align: center;
    vertical-align: middle; 
    width: calc(100% - 0.3rem);
    line-height: 4rem;
    margin-bottom: 2rem;
    border: 0.125rem solid transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
nav a {
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
}
.boxi:hover {
    background-color: #240090;
}
.title {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}
.title h1 {
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 1.2rem;
    margin-left: 2rem;
    color: #ffffff;
}
.button1 {
    grid-column: 2;
    grid-row: 5 / span 1;
    background-color: #282828;
    border: 0.25rem solid #828282;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.button2 {
    grid-column: 4;
    grid-row: 5 / span 1;
    background-color: #282828;
    border: 0.25rem solid #828282;
    display : flex;
    align-items : center;
    justify-content: center;
    font-size: 3.5rem;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.button1:hover {
  background-color: #828282;
}
.button2:hover {
  background-color: #828282;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
  grid-column: 2 / span 3;
  grid-row: 4;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.form_input {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 2rem;
	margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: #ffffff;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.form_input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.submit_create {
grid-column: 3;
grid-row: 5;
border: 0;
line-height: 2.5;
padding: 0;
font-size: 3rem;
display : flex;
justify-content: center;
align-items: center;
color: #000000;
border-radius: 4rem;
background-color: #ffffff;
margin: 0;
background-image: linear-gradient(
  to top left,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 30%,
  rgba(0, 0, 0, 0)
);
box-shadow:
  inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.submit_create:hover {
background-color: #9a9a9a;
}

.submit_create:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}