html {
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-image: radial-gradient(circle, #00563B 0%, #4A5D23 100%);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  height: 100%;
}

#menu_checkbox {
  display: none;
}

  label {
  position: fixed;
  z-index: 2;
  top: 4rem;
  right: 4rem;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
label div {
  position: relative;
  top: 0;
  height: 12px;
  background-color: #ffffff;
  margin-bottom: 12px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
  0.3s ease right;
  border-radius: 2px;
}
  
label div:first-child {
  transform-origin: 0;
}
  
label div:last-child {
  margin-bottom: 0;
  transform-origin: 60px;
}
  
label div:nth-child(2) {
  right: 0;
  width: 60px;
}
  
#menu_checkbox:checked + label:before {
  background-color: #ffffff;
}
 
#menu_checkbox:checked + label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}
  
#menu_checkbox:checked + label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}
  
#menu_checkbox:checked + label div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}

nav {
  z-index: 1;
  height: 100%;
  background-image: linear-gradient(90deg, #043927 0%, #14452F 35%, #18392B 100%);
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  transform: translateX(35rem);
  transition: all .25s ease-in-out;
  display: flex;
}

#menu_checkbox:checked + label + nav {
    transform: translateX(0);
}

nav h1 {
  Font-size: 6.25rem;
  margin: 0;
  padding-left: 1rem;
  margin-top: 2rem;
  color: #ffffff;
  position: fixed;
  align-self: flex-start;
  justify-self:flex-start;
}

.boxi {
  position: relative;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-top: 142px;
}

nav a {
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  background-image: radial-gradient(circle, #344E41 0%, #588157 100%);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%-4px);
  line-height: 4rem;
  margin-bottom: 2rem;
  border: 2px solid transparent;
}

nav a:hover {
  border: 2px solid #ffffff;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.title h1 {
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #ffffff;
}

.content_start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.button1 {
  background-color: #282828;
  border: 0.25rem solid #828282;
  display : flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2rem;
  height: 5rem;
  width: 35rem;
  min-width: 25rem;
  margin-bottom: 142px;
}

.button2 {
  background-color: #282828;
  border: 0.25rem solid #828282;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2rem;
  height: 5rem;
  width: 35rem;
  min-width: 25rem;
  margin-bottom: 142px;
}

.button1:hover {
  background-color: #828282;
}

.button2:hover {
  background-color: #828282;
}

.content_submit {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form_input {
  color: #000000;
  font-size: 2rem;
	margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: #ffffff;
  border: none;;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  width: 37rem !important;
  margin-bottom: 4rem;
}

.form_input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.submit_create {
  text-decoration: none;
  margin-bottom: 142px;
  width: 12rem;
  height: 4rem;
  border: 0;
  line-height: 2.5;
  padding: 0;
  font-size: 3rem;
  display : flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 4rem;
  background-color: #ffffff;
  background-image: linear-gradient(
    to top left,
    #00000033,
    #00000033 30%,
    #00000000
);
  box-shadow:
    inset 2px 2px 3px #ffffff99,
    inset -2px -2px 3px #00000099;
}

.submit_create:hover {
  background-color: #9a9a9a;
}

.submit_create:active {
  box-shadow:
    inset -2px -2px 3px #ffffff99,
    inset 2px 2px 3px #00000099;
}

.submit_join {
  text-decoration: none;
  width: 12rem;
  height: 4rem;
  border: 0;
  line-height: 2.5;
  padding: 0;
  font-size: 3rem;
  display : flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 4rem;
  background-color: #ffffff;
  margin-bottom: 142px;
  background-image: linear-gradient(
    to top left,
    #00000033,
    #00000033 30%,
    #00000000
  );
  box-shadow:
    inset 2px 2px 3px #ffffff99,
    inset -2px -2px 3px #00000099;
  }

  .submit_join:hover {
    background-color: #9a9a9a;
  }
  
  .submit_join:active {
    box-shadow:
      inset -2px -2px 3px #ffffff99,
      inset 2px 2px 3px #00000099;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  height: 100%;
  grid-column: 1rem;
  justify-items: center;
  align-items: center;
}

.tiles a {
  background-color: #013220;
  align-items: center;
  height: 12rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  color: #ffffff;
}

.tiles a:hover {
  border: 2px solid #ffffff;
}